<%= current_user.first_name %>
<%= current_user.last_name %>



<div class="form text-center">
<%= simple_form_for [current_user, @profile] do |f| %>
  <%= f.input :bio %>
<!-- #still need the upload picture option in here
 -->
  <%= f.submit "write something funnier" %>
<% end %>

</div>
