<% if current_user && @user == current_user%>
<div class= "padded2">
<div class="text-center">
<h1> <%= current_user.first_name %>
    <%= current_user.last_name %></h1></div>

    </div>
<div class="banner-background1 profile-edit-container background-edit">
    <div class="profile-edit-form">

      <%= simple_form_for [@profile] do |f| %>
      <h4><%= f.input :bio, label: "Please edit your profile here"%></h4>
      <%= f.input :photo, as: :attachinary, label: false %>
      <%= f.input :photo_cache, as: :hidden %>
      <h5><%= f.submit "update",class: "button-log"%></h5>
      <% end %>
    </div>
    </div>

  </div>

<% elsif current_user %>

Whoops, did you get lost?


<% else %>

You cannot access this page


<% end %>




