
<div class="padded2">


  <% if current_user && (current_user.profile.nil? || current_user.profile.invalid? )   %>

  <div class="questions text-center profile">
    <h1><strong> Welcome <%=current_user.first_name %>   <%=current_user.last_name %>! </strong></h1>
<div class= "text-center">
<h4>Please make your profile complete.</h4>


</ul>
</div>


</div>
</div>
<div class="banner-background1">

</div>
</div>
</div>
<div class="scratch-bg">

<div>
    <div class="form-container margin-top-lg">
    <div class="text-centerprof">
<h4><strong>Some questions you could answer in your bio:</strong></h4>
  <ul>
    <% @sample.each do |question| %>

  <li> <h5> <%= question %></h>  </li>

    <% end %>

     <%= simple_form_for [@profile] do |f| %>
     <h5><%= f.input :bio, :input_html => {:rows => 5} %></h5>
     <h5><%= f.input :photo, as: :attachinary %></h5>
     <h5><%= f.input :photo_cache, as: :hidden %></h5>
     <%= f.submit "Submit", class: "button-log" %>
     <% end %>
    </div>

   </div>
</div>
</div>
    <!-- <section class="profile-form"> -->
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-sm-12 col-md-4 col-md-offset-4"> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </section> -->


<% elsif current_user %>
<div class="background-new questions text-center profile">



You already have a profile, <%= current_user.first_name %> <%= current_user.last_name %>.
<%= link_to "Go to your profile", profile_path(current_user.profile)  %>

 </div>

<% else %>

You cannot access this page

<% end %>





