<div class="background-new questions text-center profile"">
  <h2>Welcome <%=current_user.first_name %>   <%=current_user.last_name %>!</h2>
  <h3>Please fill in the following details to make your profile complete. </h3> <h3>Some questions you could answer in your bio:</h3>

  <ul>
    <li>What is the best place in the world you would like to live in?</li>
    <li>What is the one career you would love to enter?</li>
    <li>Which movie influenced your life most?</li>
  </ul>
</h3>


<section class="profile-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <div class="form-container">
         <!-- <div class= "logincontainer" > -->
         <%= simple_form_for [current_user, @profile] do |f| %>
         <h5><%= f.input :bio %></h5>
         <h5><%= f.input :photo, as: :attachinary %></h5>
         <h5><%= f.input :photo_cache, as: :hidden %></h5>
         <%= f.submit "write something funny" %>
         <% end %>
       </div>p
     </div>
   </div>
 </div>
</section>
</div>



