<div class="padded1">
</div>
<div class="banner-background1">
<div class="bio-profile banner-generalprofile text-center">
<% if current_user %>
  <div id="fb-root"></div>
  <h1>
    <%= @user.first_name%>  <%= @user.last_name %>'s profile!
     <div class= "avatar-profile">
    <% unless @profile.photo == nil %>
    <%= cl_image_tag @profile.photo.path, width: 200, height: 200, crop: :fill  %>
    <% end %>
    </div>
  </h1>
  <div class="bio card2">
  <div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-4">
    <p1>
      <%= @user.profile.bio %>
    </p1>
  </div>
  </div>
  </div>
  </div>




<!-- show challenges to all users -->

<h4><strong> These are the challenges that <%= @user.first_name %> is assigned to:</strong></h4>
<% @achievements.each do |achievement| %>
<h5><%= achievement.challenge.name %></h5>
</i>

<!-- <p> <%= @user.first_name %> started this challenge on: <strong>
<%= achievement.startdate.to_formatted_s(:long_ordinal) %></strong> </p>
<%  %> -->
<% end %>


<% if @user == current_user %>
<div class="button-navbar">
    <% if @challenges.count == 0 %>
    <h4>You haven't signed up for any challenges yet.</h4>
    <% else %>

      <!-- <h3> <%= link_to "Go to all your challenges", user_achievements_path(current_user)%></h3> -->

      <% end %>
    </div>

  <div class="button-navbar6">
      <%= link_to "Edit your profile", edit_profile_path(current_user.profile)%>
  </div>
<% end %>

<% else %>

You cannot acces this page!

<% end %>

  </div>

<%= content_for(:after_js) do %>

<% end %>

</div>
  </div>

