
<div class="bio-profile banner-life-goals text-center">
  <h2>
    <%= current_user.first_name %>  <%= current_user.last_name %>'s profile!
  </h2>

  <div class="bio">
    <h3>
      Your bio:
    </h3>
    <p>
      <%= current_user.profile.bio %>
    </p>
      <%= cl_image_tag @profile.photo, height: 300, width: 400, crop: :fill %>
  </div>

  <div class="button btn-danger">
    <%= link_to "Edit your profile", edit_user_profile_path(current_user, current_user.profile)%>
  </div>
</div>

