
<div class="bio-profile banner-general text-center">
<% if current_user %>
  <div id="fb-root"></div>
  <h2>
    <%= @user.first_name %>  <%= @user.last_name %>'s profile!
  </h2>
  <div class="bio">

    <p>
      <%= @user.profile.bio %>
    </p>
    <% unless @profile.photo == nil %>
    <%= cl_image_tag @profile.photo.path, width: 200, height: 200, crop: :fill  %>
    <% end %>
  </div>

<% if @user == current_user %>
<div class="challenge-show card">
    <% if @challenges.count == 0 %>
    <h4>You haven't signed up for any challenges yet.</h4>
    <% else %>

      <h3> <%= link_to "Go to all your challenges", user_achievements_path(current_user)%></h3>

      <% end %>
    </div>
  <div class="button">
      <%= link_to "Edit your profile", edit_profile_path(current_user.profile)%>
    </div>
<% end %>

<% else %>

You cannot acces this page!

<% end %>

  </div>

<%= content_for(:after_js) do %>

<% end %>

