<div class="padded1">
</div>
<div class="banner-background1">
<div class="bio-profile banner-generalprofile text-center">
<% if current_user %>
  <div id="fb-root"></div>
  <h1>
    <%= @user.first_name%>  <%= @user.last_name %>'s profile!
     <div class= "avatar-profile paddedprof1">
    <% unless @profile.photo == nil %>
    <%= cl_image_tag @profile.photo.path, width: 200, height: 200, crop: :fill  %>
    <% end %>
    </div>
  </h1>
  <div class="card2">
    <p>
      <%= @user.profile.bio %>
    </p>
  </div>




<!-- show challenges to all users -->

<%  if @challenges.empty? %>



<h4> <%=  @user.first_name  %> has not signed up for any challenges.</h4>

<% else %>

<h4><strong> These are the challenges that <%= @user.first_name %> is assigned to:</strong></h4>
<% @achievements.each do |achievement| %>
<h5><%= achievement.challenge.name %></h5>
</i>

<!-- <p> <%= @user.first_name %> started this challenge on: <strong>
<%= achievement.startdate.to_formatted_s(:long_ordinal) %></strong> </p>
<%  %> -->
<% end %>

<% end %>

<% if @user == current_user %>

  <div class="button-navbar6">
      <%= link_to "Edit your profile", edit_profile_path(current_user.profile)%>
  </div>
<% end %>

<% else %>

You cannot acces this page!

<% end %>

  </div>

<%= content_for(:after_js) do %>

<% end %>

</div>
  </div>

