
<div class="bio-profile banner-life-goals text-center">
  <h2>
    <%= current_user.first_name %>  <%= current_user.last_name %>'s profile!
  </h2>

  <div class="bio">
    <h3>
      Your bio:
    </h3>
    <p>
      <%= current_user.profile.bio %>
    </p>

<% unless @profile.photo == nil %>

    <%= cl_image_tag @profile.photo.path, width: 200, height: 200, crop: :fill  %>

<% end %>

  </div>

  <div class="challenge-show">
    <h3>Your challenges:</h3>
    <ul>
      <% @challenges.each do |challenge| %>
      <li><%= link_to challenge.name, challenge_path(challenge)%></li>
      <% end %>  </ul>
  </div>
<br>

  <div class="button btn-danger">
    <%= link_to "Edit your profile", edit_user_profile_path(current_user, current_user.profile)%>
  </div>
</div>

