<nav>
  <div class="navbar-container hide-nav-desktop">

    <div>
      <%= link_to root_path, class: "stick-to-it" do %>
      <%= image_tag("stick_to_it.png", class: "logo-nav") %>
      <% end %>
    </div>

    <% if user_signed_in? %>
    <div class= "button-navbar"><%= link_to "My Challenges", user_achievements_path(current_user) %>
    </div>
    <div class="button-navbar hidden-xs"> <%= link_to "Stick To It Blog", blogs_path %>
    </div>
    <div class= "button-navbar">
      <%= link_to edit_user_registration_path(current_user) do %>
      <i class="fa fa-user-circle-o"></i>  <%= t(".profile", default: "Account") %>
      <% end %>
    </div>

    <div>
      <div class="user-avatar hidden-xs">

        <% if current_user.profile == nil %>

        <%= link_to(new_profile_path) do %>
        <% if current_user.facebook_picture_url == nil %>
        <%= image_tag "placeholder.png", class: "avatar-nav"%>
        <% else %>
        <%= image_tag current_user.facebook_picture_url, class: "avatar-nav" %>
        <% end %>
        <% end %>
        <span class= "font"> <%= current_user.first_name %> </span>
      </div>
    </div>

    <% else %>
    <div class="hidden-xs">
      <%= link_to(profile_path(current_user.profile)) do %>
      <% if current_user.profile == nil && current_user.facebook_picture_url != nil %>
      <%= image_tag current_user.facebook_picture_url, class: "avatar-nav" %>
      <% elsif current_user.profile == nil %>
      <%= image_tag "placeholder.png", class: "avatar-nav"%>
      <% elsif current_user.profile.photo != nil %>
      <%= cl_image_tag current_user.profile.photo.path, gravity: :face, class: "avatar-nav" %>
      <% elsif current_user.facebook_picture_url !=nil %>
      <%= image_tag current_user.facebook_picture_url, class: "avatar-nav" %>
      <% elsif current_user.facebook_picture_url == nil %>
      <%= image_tag "placeholder.png", class: "avatar-nav"%>
      <% elsif current_user.profile.photo == nil %>
      <%= image_tag "placeholder.png", class: "avatar-nav"%>
      <% end %>
      <span class= "font"> <%= current_user.first_name %> </span>
    </div>
  </div>
  <% end %>


  <% end %>
  <% else %>
  <div class="button-navbar hidden-xs"><%= link_to "Home", root_path %> </div>
  <div class="button-navbar hidden-xs"><%= link_to "Blog", blogs_path %></div>
  <div class="button-navbar"> <%= link_to t(".sign_in", default: "Login"), new_user_session_path %></div>
  <div></div>
  <% end %>
</div>
</nav>
<div class="bottom-nav"></div>
