
<% if current_user %>

<div style="height: 80px; background-color: #88CED9;"></div>
<div class="banner-cloud-top">

<div class="text-center">

  <h1><%= @challenge.name %></h1>
<br>
    <h3><%= @challenge.description %></h3>

<h5>  <%= @achievements.count %> other people have already signed up for this challenge!</h5>



    <%  if current_user.challenges.include?(@challenge)%>

    <br/>
    <h4>You are already signed up for this challenge!</h4>
    <% else %>
<br>
<br>

        <button type="button" class="button-log" data-toggle="modal" data-target="#chatModal">
          Sign up
        </button>
        <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel"><%= @challenge.name %></h3>
              </div>
              <div class="modal-body">

<% if !@other_achievements.empty? %>


<h4>These are the other users that also want to take on this challenge: </h4>

<ul>
<% @other_achievements.each do |achievement| %>
<li><%= achievement.user.first_name %>
<%= achievement.user.last_name %>
<%= achievement.startdate.to_formatted_s(:long_ordinal) %></li>

<% end %>
</ul>
<% else %>

<h4>No other users have signed up for this challenge. Be the first!</h4>

<% end %>



                <%= simple_form_for [@challenge, @achievement] do |f| %>
                <%= f.error_notification %>
                <%= f.input :startdate, label: "On which day do you want to start this challenge?", selected: Date.today,  order: [:day, :month, :year]%>
                <%= f.submit "start this challenge", class: "button-log" %>
                <% end %>


              </div>
            </div>
          </div>
        </div>



    <%#= link_to "sign up for this challenge", new_challenge_achievement_path(@challenge) %>
    <br/>
    <br/>
    <%= javascript_tag do %>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.8&app_id#{ENV['FB_ID']}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  <% end %>
  <!-- <div class="fb-like" data-href="<%= challenge_url(@challenge) %>" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> -->
  <% end %>


</div>
</div>

<% else %>

You cannot access this page!

<% end %>
