<% if current_user && @user == current_user %>

<h2><%= @achievement.challenge.name %>
  <br/>
  <%=@achievement.startdate.to_formatted_s(:long_ordinal)%></h2>


  <% if @achievements.empty? %>

<h3>There are no other users that want to take on this challenge.</h3>

  <% else %>

  <h3>These are the other users that want to take on this challenge:</h3>

        <% @achievements.each do |achievement| %>
          <% if achievement.buddy_achievement.nil? && achievement.startdate == @achievement.startdate %>
            <%= achievement.user.first_name %><%= achievement.user.last_name %>
            <%= link_to "See their profile", profile_path(achievement.user.profile)  %>
            <%= achievement.startdate %>
            <%= simple_form_for [current_user, @achievement] do |f| %>
            <h3><%= f.hidden_field :buddy_achievement_id, value: achievement.id %></h3>
            <h5> <%= f.submit "Select this buddy" %></h5>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

<% elsif current_user %>

Whoops, did you get lost?


  <% else %>

  You cannot access this page!

<% end %>
