<% if current_user && @user == current_user %>

<div class="text-center">
<div style="height: 80px; background-color: #88CED9; padding-top: 80px;"></div>
<div class="banner-cloud-top">
<h1><%= @achievement.challenge.name %></h1>
 <h4> You want to start this challenge on <%=@achievement.startdate.to_formatted_s(:long_ordinal)%></h4>
<br>
<br>

  <% if @other_achievements.empty? && @achievement.startdate < Date.today %>

<h5>There are no other users that want to take on this challenge on the same date and the start date is passed.<br>
We are sorry. Please give up this challenge. And try again with a new date.
</h5>

<br>
<div class="button-log-index">

<%= link_to "Give up this challenge", user_achievement_path(current_user, @achievement),
      method: :delete,
      data: { confirm: "Are you sure you want to quit this challenge?" } %>
</div>

  <% elsif @other_achievements.empty?%>

<h4>There are no other users that want to take on this challenge on the same date!</h4>



  <% else %>

  <h4>These are the other users that want to take on this challenge on the same date:</h4>
  <br>

<div class="container">
<div class="row">

<ul class="list-inline">
        <% @other_achievements.each do |achievement| %>
          <h5>
          <div class="col-xs-6">
           <li><%= achievement.user.first_name %> <%= achievement.user.last_name %>
            <% if achievement.user.profile != nil %>
            <%= link_to "Check out their profile", profile_path(achievement.user.profile), target: :_blank  %>
            <%end %>
            <br>
            <br>
            <%= simple_form_for [current_user, @achievement] do |f| %>
            <%= f.hidden_field :buddy_achievement_id, value: achievement.id %>
            <%= f.submit "Select this buddy", class: "button-buddy" %></li></div> </h5>
            <% end %>
          <% end %>
          <br>
</ul></div></div>

      <% end %>
</div>

</div>
</div>

<% elsif current_user %>

Whoops, did you get lost?


  <% else %>

  You cannot access this page!

<% end %>
