<% if current_user && @user == current_user%>


<h2>Welcome to all your challenges </h2>


<ul>

<% current_user.achievements.each do |achievement| %>
<li>

<% if achievement.buddy_achievement.nil? %>
<%= achievement.challenge.name %>
<%= link_to "Find a buddy!", edit_user_achievement_path(current_user, achievement)  %>

<% elsif achievement.buddy_achievement.user.profile.nil?%>
<%= link_to achievement.challenge.name, user_achievement_path(current_user, achievement) %>
  Your buddy is:
  <%= "#{achievement.buddy_achievement.user.first_name}#{achievement.buddy_achievement.user.last_name}"%>

<% else %>
<%= link_to achievement.challenge.name, user_achievement_path(current_user, achievement) %>
  Your buddy is:
  <%= link_to "#{achievement.buddy_achievement.user.first_name}#{achievement.buddy_achievement.user.last_name}", profile_path(achievement.buddy_achievement.user.profile)  %>

<% end %>



</li>
<br/>
<% end  %>
</ul>


<% elsif current_user %>

Whoops, did you get lost?

<% else %>

You cannot access this page!


<% end %>
