<% if current_user && @user == current_user%>
<div style="height: 80px; background-color: #88CED9;"></div>
  <div class="text-center">
<div class="banner-cloud-top">
  <h2>Welcome <%= current_user.first_name %>, these are your challenges! </h2>
<div class="wrapper-index">

  <% current_user.achievements.reverse_each do |achievement| %>
    <div class="wrapper-achievement-index">
      <article class="main">
        <div class="change-direction">
            <h5>
              <%=  achievement.challenge.name%>
            </h5>
        </div>
      </article>

      <aside class="aside aside-2">
        <div class="change-direction">
        <h5>
          <% if achievement.buddy_achievement.nil? && !achievement.buddy_achievement_id.nil? %>

          <div class="button-achievements-buddy">

            <%= link_to "Go to challenge", user_achievement_path(current_user, achievement) %>
          </div>


           <!--  <em>Sorry, your buddy has given up...</em> -->
          <% elsif achievement.buddy_achievement.nil? %>
              <div class="button-achievements">

            <%= link_to "Find a buddy!", edit_user_achievement_path(current_user, achievement)  %>
            </div>
          <% else %>


      <div class="button-achievements-buddy">

            <%= link_to "Go to challenge", user_achievement_path(current_user, achievement) %>

            </div>

          <% end %>
          </h5>
        </div>
      </aside>
    </div>
  <% end  %>
  <br/>
</div>


<div class="button-log-index">
<h5>
      <%= link_to "Find another challenge", life_goals_path %></h5>
</div>


  </div>


</div>
<% elsif current_user %>
  Whoops, did you get lost?
<% else %>
  You cannot access this page!
<% end %>
