<% if current_user %>

<% if !@achievements.empty? %>


<h2>These are the other users that also want to take on this challenge: </h2>

<% @achievements.each do |achievement| %>
<%= achievement.startdate %>
<%= achievement.user.first_name %>
<%= achievement.user.last_name %>

<% end %>

<% else %>

<h2>No other users have signed up for this challenge. Be the first!</h2>

<% end %>

<%= simple_form_for [@challenge, @achievement] do |f| %>
<%= f.input :startdate, label: "On which day do you want to start this challenge?", selected: Date.today%>
<%= f.submit "start this challenge", class: "btn btn-primary" %>
<% end %>


<% else %>

You cannot access this page!
<% end %>
