<% if current_user && @user == current_user %>


<h1> <%= @achievement.challenge.name %></h1>


<p> <%= @achievement.startdate %> </p>

<% @progresses.each do |progress| %>
<%= progress.mood %>
<% end %>

<% if @progress_today.nil? %>

 <%= simple_form_for [current_user, @achievement, @progress] do |f| %>
<%= f.hidden_field :day, value: Date.today%>
<%= f.input :mood, collection: Progress::MOOD, include_blank: false %>
<%= f.input :done %>
<%= f.input :log %>
<%= f.submit "update your daily progress", class: "btn btn-primary" %>
<% end %>

<% else %>
<h2>This is your progress for today</h2>

<p>Your thoughts:
<%= @progress_today.log %></p>


<p>Your mood:
<%= @progress_today.mood %></p>

<% if @progress_today.done %>
<p>You have completed your task of the day!</p>


<% end %>

<% end %>

<br>

<% if @achievement.buddy_achievement == nil %>

<h4> You do not have buddy yet! </h4>


<% else %>


<h4> Your buddy:

<%= @buddy_achievement.user.first_name %> <%= @buddy_achievement.user.last_name %></h4>



These are all the buddy moods!

<ul>
<% @progresses_buddy.each do |progress| %>
<li>  <%= progress.mood %></li>
<% end %>

</ul>


<% if @buddy_progress_today.nil? %>

<p>Your buddy has not posted anything yet today!</p>

<% else %>


<h2>This is their progress for today</h2>

<p>Their thoughts:
<%= @buddy_progress_today.log %></p>


<p>Their mood:
<%= @buddy_progress_today.mood %></p>

<% if @buddy_progress_today.done %>
<p>They have completed their task of the day!</p>

<% end %>

<% end %>


<% end %>



<%= simple_form_for [current_user, @achievement, @message] do |f| %>
<%= f.input :text %>
<%= f.input :url %>
<%= f.input :photo, as: :attachinary %>
<%= f.submit "send your buddy a message!", class: "btn btn-primary" %>

<% end %>




<% if @messages_buddy !=nil %>

<% @messages_buddy.each do |message| %>

<%= message.text%>
<%= message.url %>
<% if message.photo? %>
  <%= cl_image_tag message.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>

<% end %>

<% end %>



<% if @messages !=nil %>

<% @messages.each do |message| %>

<%= message.text%>
<%= message.url %>
<% if message.photo? %>
  <%= cl_image_tag message.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>

<% end %>

<% end %>



<% elsif current_user %>

Whoops, did you get lost?

<% else %>

You cannot access this page!
<%= render 'shared/errormessage' %>

<% end %>

