<div class="text-center">

  <% if current_user && @user == current_user %>


<div class="banner-cloud-top">


  <h1> <%= @achievement.challenge.name %></h1>

  <h3><em> This challenge started on: <%= @achievement.startdate.to_formatted_s(:long_ordinal)%> </em>  </h3>
  <br/>
This challenge has been going:

<%= @how_many_days.to_i %> days.


<%= @progresses.count %>


<%= @progresses_buddy.count %>
<br>
  <% if !@achievement.buddy_achievement_id.nil? && @achievement.buddy_achievement.nil? %>
   <h4> <em>Sorry, your buddy has given up!</em> </h4>

      <button type="button" class="navbar-wagon-item navbar-wagon-link button-log" data-toggle="modal" data-target="#chatModal">
          But you can still update your progress for the day!
        </button>
        <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Tell us about your day!</h4>
              </div>
              <div class="modal-body">
                <%= simple_form_for [current_user, @achievement, @progress] do |f| %>
                <%= f.hidden_field :day, value: Date.today%>
                <%= f.input :mood, label: "What is your mood?", collection: Progress::MOOD, include_blank: false %>
                <%= f.input :done, label: "Have you finished your task of the day?" %>
                <%= f.input :log %>
                <%= f.submit "update your daily progress", class: "navbar-wagon-item navbar-wagon-link button-log" %>
                <% end %>

              </div>
            </div>
          </div>
        </div>


  <% elsif @achievement.buddy_achievement == nil %>
    <h3> You do not have buddy yet! </h3>
  <% else %>
    <h4>
      <% if @buddy_achievement.user.provider == "facebook" %>
        <%= image_tag @buddy_achievement.user.facebook_picture_url, class: "avatar-achievements" %>
      <% elsif @buddy_achievement.user.profile.photo != nil %>
        <%= cl_image_tag @buddy_achievement.user.profile.photo.path, gravity: :face, class: "avatar-achievements" %>
      <% end %>
    Your buddy: <%= @buddy_achievement.user.first_name %> <%= @buddy_achievement.user.last_name %>
    </h4>
  <% end %>
</div>
<br>
<br>



  <% if !@achievement.buddy_achievement_id.nil? && @achievement.buddy_achievement.nil? %>
        <h2></h2>

            <% elsif @achievement.buddy_achievement == nil %>

            <h3> You do not have buddy yet! </h3>



            <% else %>


  <div class="container">
    <div class="row">
      <div class="col-xs-5">

        <% if @progress_today.nil? %>

        <button type="button" class="navbar-wagon-item navbar-wagon-link button-log" data-toggle="modal" data-target="#chatModal">
          Update your progress for the day!
        </button>
        <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Tell us about your day!</h4>
              </div>
              <div class="modal-body">
                <%= simple_form_for [current_user, @achievement, @progress] do |f| %>
                <%= f.hidden_field :day, value: Date.today%>
                <%= f.input :mood, label: "What is your mood?", collection: Progress::MOOD, include_blank: false %>
                <%= f.input :done, label: "Have you finished your task of the day?" %>
                <%= f.input :log %>
                <%= f.submit "update your daily progress", class: "navbar-wagon-item navbar-wagon-link button-log" %>
                <% end %>

              </div>
            </div>
          </div>
        </div>

        <% else %>
        <h3>Your progress today</h3>

        <h5>Your thoughts:
          <%= @progress_today.log %></h5>
        <h5>Your mood:
            <%= @progress_today.mood %></h5>

            <% if @progress_today.done %>
            <h5>You have completed your task of the day!</h5>


            <% end %>

            <% end %>

          </div>

          <div class="col-xs-7">


            <% if @buddy_progress_today.nil? %>

 <h5><div class="buddy">


            <em>   Your buddy has not posted anything today!</em></div>
</h5>
            <% else %>


            <h3>Progress buddy</h3>

            <h5>Their thoughts:
              <%= @buddy_progress_today.log %></h5>


              <h5>Their mood:
                <%= @buddy_progress_today.mood %></h5>

                <% if @buddy_progress_today.done %>
                <h5>They have completed their task of the day!</h5>

                <% end %>

                <% end %>

            <%# end %>

              </div>
            </div>
          </div>
          <br/>
          <br/>



<div class="wrapper-achievements banner-cloud-blue">

<div class="container">

<div class="row">


<div class="col-xs-5">

<div class="new-message">
<h3>Chat with your buddy!</h3>
<br>
<br>
<%= simple_form_for [current_user, @achievement, @message] do |f| %>

 <h4> <%= f.input :text %> </h4>
 <h4> <%= f.input :url %> </h4>
 <h4> <%= f.input :photo, as: :attachinary %> </h4>
  <h4><%= f.submit "send your buddy a message!", class: "button-log-chat" %></h4>
</div>
<% end %>
</div>

 <% if !@messages.empty? %>
<div class="col-xs-7">
 <div class="some-container">
  <ul>
    <% @messages.each do |message| %>
      <% if message.achievement.user == current_user %>
  <div class="links">

<h5>

    <li><%= message.created_at.strftime("%R")%>  <strong> - You </strong> </li>
     <br>
     <li>   <%= message.text%></li>
      <li>  <%= message.url %></li>

      <% if message.photo? %>
      <li> <%= cl_image_tag message.photo.path, width: 200, height: 200, crop: :fill %></li>
      <% end %>
</h5></div>

      <% else %>

      <div class="rechts"><h5>
     <li>


<% if message.created_at < Date.today %>

<%= message.created_at.strftime("%A") %>

     <%= message.created_at.strftime("%R") %>


<% else %>

     <%= message.created_at.strftime("%R") %>


<% end %>


    <strong> <%= message.achievement.user.first_name%></strong>   </li><br>

      <li>   <%= message.text%></li>
      <li>  <%= message.url %></li>

      <% if message.photo? %>
      <li> <%= cl_image_tag message.photo.path, width: 200, height: 200, crop: :fill %></li>
      <% end %>
</h5></div>
      <% end %>
      <% end %>

    </ul>
</div>

</div>
<% else %>

<div class="col-xs-7">

There are no messages yet!

</div>

<% end %>

<!-- <h4> The messages you sent to your buddy!</h4>
-->


</div>

</div>


</div>

  <% end %>

<% elsif current_user %>

Whoops, did you get lost?

<% else %>

You cannot access this page!


<% end %>
</div>
